/* Reset */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section, input, button, main { 
	margin: 0; 
	padding: 0;
	border: 0;
	
	box-sizing:border-box;
} 
ol, ul { 
	list-style: none; 
}
header, main, footer, nav, section, article, hgroup, figure {
	display: block;	
}
legend {
	display: none;
}

/* Font: Walsheim */
@font-face {font-family: 'Walsheim-Regular';src: url('../webfonts/GT-Walsheim-Regular.eot');src: url('../webfonts/GT-Walsheim-Regular.eot?#iefix') format('embedded-opentype'),url('../webfonts/GT-Walsheim-Regular.woff') format('woff'),url('../webfonts/GT-Walsheim-Regular.ttf') format('truetype');}
@font-face {font-family: 'Walsheim-Medium';src: url('../webfonts/GT-Walsheim-Medium.eot');src: url('../webfonts/GT-Walsheim-Medium.eot?#iefix') format('embedded-opentype'),url('../webfonts/GT-Walsheim-Medium.woff') format('woff'),url('../webfonts/GT-Walsheim-Medium.ttf') format('truetype');}
@font-face {font-family: 'Walsheim-Bold';src: url('../webfonts/GT-Walsheim-Bold.eot');src: url('../webfonts/GT-Walsheim-Bold.eot?#iefix') format('embedded-opentype'),url('../webfonts/GT-Walsheim-Bold.woff') format('woff'),url('../webfonts/GT-Walsheim-Bold.ttf') format('truetype');}

html,body
{
	height:100%;
	min-height:100%;
	font-size:100%; /* Baseline font-size */
}

body /* Default layout and theme */
{
	font-family:'Walsheim-Regular';
	color:#333;
	background:#fff;	
	line-height: 1.6;
}

body.pink /* Pink background color theme - used on pincode screens */
{
	background:#fa4a69;
	color:#fff;
}

body.grey /* Grey background color theme - used inside locker */
{
	background:#efeff1;
}

/* App layout */
/* body.app {} */

/* Wizard / misc screens layout */
/* body.wizard {} */

/* Various elements */

h1
{
	font-size: 1.5rem;
	line-height: 1.17;
	font-family:'Walsheim-Bold';
	font-weight:normal;
	margin-bottom:1em;	
	text-align: center;
	color: #212a3d;	
}

body.pink h1
{
	color:#fff;
}

h2
{
	font-size: 1.5rem;
	line-height: 1.26;
	font-family:'Walsheim-Bold';
	font-weight:normal;
	margin-bottom:1em;	
	text-align: center;
	color: #fb637e;		
	
}

body.pink h2
{
	color:#fff;
}	

h3
{
	color:#212a3d;
	font-size:1.1875rem;
	line-height: 1.26;	
	font-family:'Walsheim-Regular';
	font-weight:normal;
}

h4
{
	color:#212a3d;
	font-size: 1rem;
	line-height: 1.17;
	font-family:'Walsheim-Bold';
}

a 
{
	color:#7c859a; 
	text-decoration:none;
	
}

/* inside paragraphs, links do must have an underline */
p a{
	text-decoration:underline;
}

.highlight
{
	color:#fb637e !important;
}

img
{

	max-width:100%;
}

hr
{
	margin:0;
	padding:0;
	border: none;
	width:100%;
	display:block;
	height:1px;
	color: #efeff1; /* old IE */
    background-color: #efeff1; /* Modern Browsers */	
}

span.pink
{
	color:#fb637e;
}

.left
{
	text-align:left;
}

.centered
{
	text-align:center;
}

.right
{
	text-align:right;
}


/* Main layout */

.wrapper {
    min-height:100%;
    display:grid;
    /*grid-template-rows: auto 1fr auto;*/
    grid-template-rows: auto;
    grid-template-columns: 100%;
}

.frame /* making the content inside a frame, margin and width defined here */
{
	padding-left:1.25rem;
	padding-right:1.25rem;
}

header
{
	padding-top:2em;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;	

	position:relative;
	z-index:990;
	
}

header.lightgrey
{
	background-color: #efeff1;
}

header a
{
	font-size:0.9375rem;
}

main
{
	align-self: center;
	
	z-index:100;
	position:relative;
	
	font-size:1.0625rem;
}

/* swipe panels need to slide - not scroll whole screen, so hide scrollbar x */
body.wizard main
{
	overflow-x: hidden; 
}

footer
{
	align-self:end;
	padding-bottom:2em;
	
	position:relative;

}

.grey footer, .grey footer p
{
	font-size:1.0625rem;
	line-height:1.41rem;
	color:#7c859a;
	font-weight: 500;
}

.oval
{
	background:#fff;
}

.oval:before
{
	position:absolute;
	height:200px;
	width:150%;

	background-color: #efeff1;	
	border-radius:100%;
	
	top:-170px;
	left:-25%;
	content: " ";
	z-index:90;
}

.ovalbelow
{
	background-color: #efeff1;

}
/*
.ovalbelow:after
{
	position:absolute;
	height:200px;
	width:150%;

	background-color: #efeff1;	
	border-radius:100%;
	
	top:0px;
	left:-25%;
	content: " ";
	z-index:90;
	overflow:hidden;
}
*/
/* App layout specific css */
body.app .frame
{
	padding-left:1.25rem;
	padding-right:1.25rem;
}

body.app main
{
	align-self: start;
}

.card
{
	background:#fff;
	border-radius:8px;
	
	margin-bottom:1em;
	-webkit-box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.12);

	color:#7c859a;
	
	font-size:0.9375rem;
}

.card.tip
{
	background:#f7f7f8;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);	

}

.card .cardheader
{
	background-color: #7c859a;

	color: #fff;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}

.arc_grey_down
{
	position:relative;
	margin-bottom:25px; /* height of the arc */
}

.arc_grey_down::after
{
	position: absolute;
	display: inline-block;
	bottom:-25px;
	left:0;
	content:"";
	width:100%;
	height:25px;
	background:	url('/assets/img/arc-grey-down.png') no-repeat center bottom; 
	
}

.arc_lightgrey_down
{
	position:relative;
	margin-bottom:25px; /* height of the arc */
}

.arc_lightgrey_down::after
{
	position: absolute;
	display: inline-block;
	bottom:-25px;
	left:0;
	content:"";
	width:100%;
	height:25px;
	background:	url('/assets/img/arc-lightgrey-down.png') no-repeat center bottom; 
	
}

.row
{
	width:100%;
	clear:both;
	padding:1em;
	padding-left:1.25rem;
	padding-right:1.25rem;
	position:relative;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col{
	
	float:left;
	position:relative;
	width:100%;
	

}

.col.onesixth, .col.sixth
{
	width:16.66%;
}

.col.third
{
	width:33.33%;
}

.col.half
{
	width:50%;
}

.col.twothirds
{
	width:66.66%;
}

.col.fivesixth
{
	width:83.33%;
}

.col.threequarter
{
	width:75%;
}

.col.onequarter, .col.quarter
{
	width:25%;
}


ul.checks li
{
	padding-left:1.5em;
	position:relative;
	line-height: 1.6;
}

ul.checks li:before
{
	width: 13px;
	height:13px;
    content: " ";
    background-image: url('/assets/img/check.svg');
    position: absolute;
    left: 0px;
    top: 4px;

}

body.app header .logo
{	
	float:left;
}

body.app header .logo img
{
	width:50px;
}

/* Hamburger menu */

header nav
{
	float:right;
}

header #mainnav ul
{
	list-style:none;
}

header #mainnav ul li a
{
	text-decoration:none;
	color:#fff;
	font-size:1.95rem;
	line-height:2;
	font-family:'Walsheim-Regular';
	display:inline-block;
}

header #mainnav ul.smaller
{
	margin-top:1em;
}

header #mainnav ul.smaller li a
{
	color:#fdadbc;
	font-size:1.25em;
	line-height:1.8;

}

header #mainnav ul.smaller li a img
{
	display:inline-block;
	margin-top:-2px;
	margin-right:3px;
	vertical-align:middle;
}
	
header #mainnav #slider
{
	display:block;

	position:fixed;
	top:0em;
	right:0;
	height:100%;
	min-width:100%;
	
	background:#fa4a69;
	
	padding:2em;
	padding-top:5em;
	text-align:left;

	-webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
  
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
  
  	-webkit-transition:all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	-moz-transition:all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	-o-transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

header #mainnav #slider .logo
{
	position:fixed;
	top:2em;
	left:2em;
	opacity:0;
	transition: opacity 0.3s ease 0.2s;
}

header #mainnav.show #slider
{
  transform: translate(0%, 0);	
}

header #mainnav.show #slider .logo
{
	opacity:1;

}

header #mainnav #hamburger
{
	cursor:pointer;
	width:36px;
	position:relative;
	z-index:990;
	
	padding-bottom:1em;
}


header #mainnav #hamburger span
{ 
	display: block;
	width: 36px;
	height: 2px;
	margin-bottom:6px;
	position: relative;

	background: #7c859a;
	
	z-index: 1;
  
	transform-origin: 3px -1px;
  
   	-webkit-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              width 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
	-moz-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              width 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
	-o-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              width 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              width 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

header #mainnav #hamburger span:first-child
{
	width: 16px;
	transform-origin: 0% 0%;
}

header #mainnav #hamburger span:nth-last-child(1)
{
	width: 25px;
}

header #mainnav #hamburger span:nth-last-child(2)
{
	transform-origin: 0% 100%;
}

header #mainnav.show #hamburger span
{
	background: #fff;
	opacity: 1;
	width:28px;
	transform:rotate(45deg) translate(-3px, -4px);
}

header #mainnav.show #hamburger span:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scaleX(0);
}

header #mainnav.show #hamburger span:nth-last-child(1)
{
  transform: rotate(-45deg) translate(0, -4px);
}

/* Form elements */
button, .button
{
	display:inline-block;
	background:#fa4a69;
	text-decoration:none;
	font-size:1em;
	font-family:'Walsheim-Regular';
	color:#fff;
	text-align:center;
	line-height:44px;
	height:44px;
	min-width:239px;
	border-radius:6px;
	
	-webkit-box-shadow: 0 8px 18px 0 rgba(250, 74, 105, 0.35), 0 0 1px 0 rgba(250, 74, 105, 0.35);	
	-moz-box-shadow: 0 8px 18px 0 rgba(250, 74, 105, 0.35), 0 0 1px 0 rgba(250, 74, 105, 0.35);	
	box-shadow: 0 8px 18px 0 rgba(250, 74, 105, 0.35), 0 0 1px 0 rgba(250, 74, 105, 0.35);		
	
	cursor:pointer;
	
	object-fit: contain;
	
	position:relative;
	z-index:500;
	
	outline:none;
}

button.small, .button.small
{
	min-width:auto;
	padding-left:10px;
	padding-right:10px;
}

button.round, .button.round
{
	min-width:40px;
	width:40px;
	height:40px;
	border-radius:40px;
	line-height:40px;
}

/* smaller round button */
.inlinebutton
{
	display:inline-block;
	border-radius:20px;
	text-align:center;
	height:32px;
	cursor:pointer;
	object-fit: contain;
	position:relative;
	z-index:500;
	text-decoration:none;
	line-height:32px;
	padding-left:1em;
	padding-right:1em;
	font-size:0.8125em;
}

.inlinebutton.green
{
	border:1px solid #7ed321;
	color:#7ed321;
}

.inlinebutton.pink
{
	border:1px solid #fa4a69;
	background:#fa4a69;
	color:#fff;
}

button:active, .button:active
{
	background:#e63e5c;
	line-height:45px;
	
}

body.pink .button, body.pink button /* pink variant */
{
	background:#fff;
	color:#000;
	border-radius:20px;
	
	box-shadow:none;
	
}

body.pink .button.disabled, body.pink button:disabled, body.pink button[disabled]
{
	background: transparent !important;
	color:#fb7b93 !important;
	border:1px solid #fb7b93 !important;
	cursor:default !important;
}

body.grey .button.disabled, body.grey button:disabled, body.grey button[disabled]
{
	background: transparent;
	color:#e2e1e9;
	border:1px solid #e2e1e9;
	cursor:default;	
	
	-webkit-box-shadow: none;	
	-moz-box-shadow: none;	
	box-shadow: none;

	opacity: 0.5;	
}

body.pink p.light
{
	color:#fdadbc;
}

body.pink p.light a
{
	color:#fdadbc;
	text-decoration:underline;
}

body.grey p.light
{
	line-height: 1.33;
	color: #7c859a;
	opacity: 0.5;
}

label, input
{
	display:block;
}

input
{
	border-radius:2px;
	width:100%;
	font-size:1.4em;
	padding-left:20px;
	height:44px;
}

/* Request screen */
.requestProviderName
{
	font-family:'Walsheim-Bold';
	font-size:1.1875rem;/*1.1875em;*/
	line-height: 0.79;
	color:#212a3d;
}


.waiting {
  
}

.waiting > span {
  vertical-align:sub;
  width: 16px;
  height: 16px;
  background-color: #fff;
  margin-left:3px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  
  animation-iteration-count: infinite;
}

.waiting span:nth-child(1) /*.bounce1*/ {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.waiting span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.4) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(.4);
    transform: scale(0.4);
  } 40% { 
    -webkit-transform: scale(1.0);
	background-color: #586071;
    transform: scale(1.0);
  }
}


/* waiting animation */
@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
	  font-size:5em;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
	  font-size:1.5em;
    }
}

/* UI element: Tooltip */
.tooltip
{
	position:relative;
	vertical-align:super;
	display:inline-block;
	cursor:pointer;
}

.tooltip .tooltiptext
{
	display:none;

	position:absolute;
	
	background:#212a3d;
	color:#e2e1e9;
	padding:15px;
	
	font-size:0.9375rem;
	font-weight:normal;
	font-family:'Walsheim-Regular';
	text-align:left;
		
	border-radius: 4px;
	
	top:27px;
	right:-30px;
	width:250px;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: -20px;
	
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #212a3d transparent;
}

.tooltip .tooltipclose
{		
	display:none;
	position:absolute;
	top:5px;
	right:5px;
	cursor:pointer;
}

.tooltip.open .tooltiptext, .tooltip.open .tooltipclose
{
	display:block;
}
/* End UI element: Tooltip */



/*
input.pincode
{
	letter-spacing:28px;
	padding-left:28px;
}

body.pink input
{
	background:#fb637e;
	border:1px solid #fdadbc;
	color:#fff;
}

body.pink input.pincode:read-only
{	
	border-color:#fb637e;
	color:#fa4a69;
}
*/

/* For v1: keep window size small - upsize later */
@media (min-width: 480px) {
	.frame
	{
		margin:0 auto;
		width:400px;
	}
}


@media (min-width: 1000px) {
	.frame
	{
		margin:0 auto;
		/*width:980px;*/
		width:400px;
	}
}

@media (min-width: 1200px) {
	.frame
	{
		margin:0 auto;
		/*
		width:1180px;*/
		width:400px;
	}
}